<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>URL Format: <strong>http://127.0.0.1:2222/api/v1/station/YYYY-MM-DD</strong> </p>
<p>URL Example: <strong>http://127.0.0.1:2222/api/v1/10/1988-10-25</strong> </p>
<p>Station wise Data:  <strong>http://127.0.0.1:2222/api/v1/10</strong> </p>
<p>Station wise Yearly Data: <strong>http://127.0.0.1:2222/api/v1/yearly/10/1988</strong> </p>
<p>{{data|safe}}}</p>
</body>
</html>